# Database
db/*.db

# Generated PDFs
output_pdf/

# Test files
test_api_8080.py

# Uploaded images
uploads/

# Processed images
processed/

# Generated JSON
output_json/

# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/