# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/

# Database
database/products.db

# Uploaded Images
uploads/

# Processed Images
processed/

# JSON Output
output_json/

# VS Code
.vscode/

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db